<?php
return array(
    'acl' => array(
        'roles' => array(
            'guest'   => null,
            'member'  => 'guest',
            'admin'  => 'member',
        ),
        'resources' => array(
            'allow' => array(
				'Album\Controller\Album' => array(
					'index'	=> 'guest',
					'add'	=> 'member',
				),
				'CsnUser\Controller\Index' => array(
					'all'   => 'guest'
				),
				'CsnUser\Controller\Registration' => array(
					'all'   => 'guest'
				),
				'Application\Controller\Index' => array(
					'all'   => 'guest'
				),
            )
        )
    )
);
